
body {

  height: 50vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/moviesbackground.png");
  color:white;
  font-family:'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
